body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

.container{
    width:1440px;
    height:auto;
    margin:0 auto;
    min-height:1000px;
    background-color: rgba(163, 162, 157, 0.272);
}

 .header{
    width:1440px;
    height:1340px;
    background-image:url('images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png');
    background-repeat: no-repeat;
 }

.logo_menu{
    width: 1440px;
    height:300px;
}
 .logo{
    width:220px;
    height:300px;
    float: left; 
 }

 .logo img{
    width:142px;
    height:150px;
    margin-left:50px;
    margin-top:80px;
 }

.menu{
    float:left;
    width:680px;
    height:300px;
 } 

/* .menu ul{
    margin-left: 0px;
} */
  
.menu ul li{
    display: inline-block;
    padding:15px;
    margin-top:90px;
    margin-right:5px;
}

.menu ul li a{
    text-decoration: none;
    font-size:18px;
    color: rgb(47, 73, 89);
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
} 
 
  
.dot{
    width:250px;
    float:left;
    height: 300px;
}

.dot img{
    margin-top:1px;
    margin-left:9px;
}


.search{ 
    width:290px;
    float: left;
    height: 300px;
} 

.search img{
    margin-top:110px;
    margin-left:40px;
}

.enjoy{
    font-size:100px;
    font-family:'League Gothic', sans-serif;
    color: rgb(255, 112, 91);
    font-style: italic;
    margin-left:140px;
    line-height:80px;
    margin-top: 30px;
    float: left;
    width:700px;
    height:740px;
}

.enjoy p{
    font-size:25px;
    font-family: "Montserrat";
    color: rgb(47, 73, 89);
    font-style: italic;
    line-height:30px; 
    margin-top:70px;
}

.enjoy button{
    font-size:30px;
    font-family: "Montserrat";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 112, 91);
    text-align:center;
    border-radius:10px ;
    width: 270px;
    height: 70px;
    border: none;
}

.blue_waves{
    width:50px;
    height:740px;
    float: left; 
}

.blue_waves img{
    height:500px;
    width:600px;
    margin-top:270px;
}

.last_text{
    font-size:80px;
    font-family: "League Gothic";
    color: rgb(47, 73, 89);
    font-style: italic;
    text-align: center;
    width:1440px;
    height:300px; 
    float: left;
    margin-top:-50px; 
}

.last_text h5{
    font-weight: normal;
}

.last_text p{
        font-size: 21px;
        font-family: "Montserrat";
        color: rgb(47, 73, 89);
        font-style: italic;
        margin-top:-100px;
}